.footer {
    position: fixed; /* Fixa o footer na parte inferior da tela */
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Garante que fique acima de outros elementos */
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 16px;
  }
  
  .footer-content nav a {
    margin-left: 16px;
    color: inherit;
    text-decoration: none;
  }